head 
    meta(charset = 'utf-8')
    meta(name = 'viewport', content = 'width=device-width, initial-scale=1, shrink-to-fit=no')
    script(src='/public/js/jquery.js')
    link(rel='stylesheet', href='/public/stylesheets/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='/public/stylesheets/base.css', type='text/css')
    title Let's bot
        