doctype html 
html
  include includes/head.pug
  body
    include includes/header.pug 
    div(class="alert alert-danger position-absolute top-50 start-50 translate-middle", role="alert")
      h1 404 NOT FOUND